.account {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  
}

.accountTitle {
  font-size: 24px;
  margin: 10px 0 0 100px;
}

.accountDetails{
  display: flex;
}

.details, .userInfo{
  text-align: start;
  margin: 20px 0px 0 0px;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.imgDiv{
  border-radius: 50%;
  margin: 40px 10px 0 150px;
}

.signoutBtn {
  margin: 40px 60px 0 100px;
  padding: 10px 25px 10px 25px;
  border-style: none;
  background-color: #0a95ff;
  color: #ecf7ff;
  cursor: pointer;
}

.questionsList{
  margin: 10px 150px;
}

.userQuestionItem{
  margin: 30px 150px;
  text-align: start;
  font-size: 1.1rem;
  padding-left: 8px;
  display: inline;
}

.deleteQuestionBtn{
  margin-top: 30px;
  margin-right: 60px;
  padding: 4px 0;
  cursor: pointer;
}